<div class="w-full flex flex-col gap-5">
    <div>
        <button mat-flat-button
        color="primary">New Recipe</button>
    </div>

    <div class="w-full flex flex-col gap-2">
        @for (recipe of recipes; track $index) {
        <a href="#"
        class="w-full flex justify-between items-center p-4 border-1 border-slate-200 rounded-md hover:bg-slate-100 transition-all">
            <div class="flex flex-col gap-2">
                <h4 class="text-lg font-semibold">{{ recipe.name }}</h4>
                <p>{{ recipe.description }}</p>
            </div>
            <img class="size-20 rounded-lg"
            [src]="recipe.imagePath"
            alt="{{ recipe.name }}" />
        </a>
        }
    </div>
</div>